.section {
    position: relative;
    background-image: url('/assets/images/nature-bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 150px 0; /* height of section */
    overflow: hidden; /* important so mask doesn't overflow */
}

.section::after {
    content: "";
    position: absolute;
    bottom: 0;  /* change to top:0 if needed */
    left: 0;
    width: 100%;
    height: 150px; /* height of the curve/mask */
    
    background-color: white; /* solid color to apply mask on */
    
    /* mask */
    -webkit-mask-image: url('/assets/images/wave-mask.png');
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    -webkit-mask-position: center;
    -webkit-mask-composite: destination-in;

    mask-image: url('/assets/images/wave-mask.png');
    mask-repeat: no-repeat;
    mask-size: cover;
    mask-position: center;
    mask-composite: intersect;
}